/* AddProducts.css */

/* General Styles */
.addProduct {
  width: 90vw;
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  top: 50px;
}

.addProduct h1 {
  text-align: center;
  margin-bottom: 20px;
}

.addProductSection {
  display: flex;
  flex-direction: column;
}

.addProductInputDiv {
  margin-bottom: 15px;
}

.addProductInputDiv label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.addProductInputDiv input,
.addProductInputDiv textarea,
.addProductInputDiv select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.addProductInputDiv textarea {
  resize: vertical;
  min-height: 100px;
}

.addProductInputDiv input[type="file"] {
  padding: 3px;
}

.error-message {
  color: red;
  font-size: 14px;
}

#AddProductBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#AddProductBtn:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .addProduct {
    padding: 15px;
  }

  .addProductInputDiv input,
  .addProductInputDiv textarea,
  .addProductInputDiv select {
    font-size: 14px;
    padding: 8px;
  }

  #AddProductBtn {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .addProduct {
    padding: 10px;
  }

  .addProductInputDiv label {
    font-size: 14px;
  }

  .addProductInputDiv input,
  .addProductInputDiv textarea,
  .addProductInputDiv select {
    font-size: 12px;
    padding: 6px;
  }

  #AddProductBtn {
    padding: 6px;
    font-size: 12px;
  }
}
