.signup-page h1{
    color: #000000;

}
.signup-page {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* margin: left 5px   */
  }
  
  .brand-name {
    margin: 0px 22px;
    font-weight: 20px;
    letter-spacing: 10px;
    padding: 0px 45px;
    text-decoration: none;
}
   .brand-name h1{
    color: #044081;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   }


 
  
  .signup-form {
    position: relative;
    align-items: center;
    width: 350px;
    height:70vh;
    padding:25px 50px  ;
    background-color:#ffffff;
    border: 1px solid #000000;
    border-radius: 0px;
    /* box-shadow: 0px 10px 10px #000000; */
  }

  
  .form-group input {
    font-family:math;
    width: calc(100% - 10px);
    /* margin-bottom: 10px; */
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-group input:focus {
    outline:none;
    border-color:  #044081;
  }
  .form-group {
    margin-bottom: 5px;
  }
  
  
  .signup-btn button {
    width: 100px;
    padding:10px;
    margin:-5px 127px;
    background-color: #fbfdfa;
    color: rgb(0, 0, 0);
    border: 1px solid  #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
  }
  
  .signup-btn button:hover {
    background-color:  #044081;
    color: #ffffff;
  }

  .login-p{
    position: relative;
    margin: 0px 30px;
   
    
  }
  .login-link{
    list-style: none;
    position: relative;
    font-family: math;
    font-size:3vh;
    color: #0f0cb2;
    margin:-20px 145px ;
  }