.signup-page h1{
    color: #000000;
    font-family: math;

}
.signup-page {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px;
    /* margin: left 5px   */
  }
  
  .brand-logo {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    left: 10vh;
    
  }
  
  .signup-form {
    position: relative;
    align-items: center;
    width: 250px;
    
    padding:40px ;
    background-color:#ffffff;
    border: 1px solid #000000;
    border-radius: 0px;
    /* box-shadow: 0px 10px 10px #000000; */
  }

  
  .form-group input {
    font-family:math;
    width: calc(100% - 10px);
    /* margin-bottom: 10px; */
    padding:10px;
    border: 1px solid #3d3939;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-group input:focus {
    outline:none;
    border-color:  #000000;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  
  button {
    width: 100px;
    padding:10px;
    margin-left: 70px;
    background-color: #fbfdfa;
    color: rgb(0, 0, 0);
    border: 1px solid  #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
  }
  
  button:hover {
    background-color: #5e5555;
    color: #ffffff;
  }
  
  .right-side{
    float: right;
    position: absolute;
    right:19vh;
    top: 40vh;
    
  }
  .right-side p a{
    font-family: math;
    font-size:3vh;
    color: #000000;

  }