.Header {
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10x;
    background-color: #ffffff; 
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
    height:13vh;
    margin:5px 0px;
  }
  
  
  .headerbrand .brand-name {
    position:relative;
    width:150px; 
    height: 90px;
    left:10vh;
    top:2px;
    
  }
  
  .headerlinks ul {
    list-style: none;
    padding:0;
    margin-left:30vh; 
    margin-right: -45px;   
  }
  
  .headerlinks ul li {
    display:inline-block;
    margin:10px;
    
    
 }
  
  .headerlinks ul li a {
    text-decoration: none;
    color: #000000; 
    font-size:17px;
    font-weight: 10vh;
    cursor: pointer;
    top: 5vh;
  }
  
  .headerlinks ul li a:hover {
    color: #044081; 
  }
  /* header-search */
  .headersearch {
    display: flex;
    align-items: center;
  }
  
  .headersearch input[type="text"] {
    position: relative;
    padding: 6px;
    right:-18vh;
    border:.5px solid;
    border-radius: 20px;
    outline: none;
  }
  
  .headersearch button {
    position: relative;
    padding: 6px;
    background-color:#ffffff;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    width: auto;
    right: -10vh;
  }
  
  .headersearch button:hover {
    background-color: white;
    color: #044081;
  }

  /* Header-icons.css */
  .header-icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: -15vh;
  }
  
  .header-icons > * {
    padding: 5px;
    font-size:20px;
    color: #000000;
  }
  
  .header-icons > *:hover {
    color: #044081;
  }
    /* .heart-icon:hover{
      color: #de0606;

    } */
  .signup-button button {
    position: relative;
    right: 4vh;
    width:auto;
  }
.signup-button button:hover{
  background-color: #302c2c;
  color: #dce0e4;
}

   