.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10x;
    background-color: #947faa; 
    box-shadow: 0 2px 4px rgba(42, 40, 40, 0.1);
    height: 15vh;
  }
  
  .headerbrand h1 {
    position: relative;
    font-size: 44px;
    margin:10px;
    top: 5vh;
    color: #ffffff; 
  }
  
  .headerbrand img {
    position:relative;
    width:100px; 
    height: 100px;
    left:21vh;
    top: -45px
    
  }
  
  .headerlinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .headerlinks ul li {
    display: inline-block;
    margin-right: 20px;
    
    
 }
  
  .headerlinks ul li a {
    text-decoration: none;
    color: #ffffff; 
    font-size:17px;
    font-weight: 10vh;
    cursor: pointer;
    top: 5vh;
  }
  
  .headerlinks ul li a:hover {
    color: #18589d; 
  }

  /* HeaderButtons.css */

.headerbuttons {
  display: flex;
  align-items: center;
  justify-content: center;

}

.headerbuttons button {
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  /* text-transform: uppercase; */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.headerbuttons button:hover {
  background-color: #18589d;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.headerbuttons .wishlist {
  background-color: #4a81b8;
  color: #ffffff;
}



.headerbuttons .favourite {
  background-color: #4a81b8;
  color: #ffffff;
  margin-right: 100px;

}


  
   