.login-page h1{
    color: #010101;
}

.login-page {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px;
  }
  
  .login-form {
    align-items: center;
    width: 250px;
    padding:40px ;
    background-color:#ffffff;
    border: 1px dotted #000000;
    border-radius: 30px;
    box-shadow: 0px 10px 10px #000000;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    /* color:  #947faa; */
  }
  
  .form-group input {
    font-family: 'Lucida Sans  ';
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding:10px;
    border: 1px solid #3d3939;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  .form-group input:focus {
    outline:none;
    border-color:rgb(0, 0, 0);
  }
  button {
    width: 60%;
    margin-left: 50px;
    padding: 10px;
    background-color: #fbfdfa;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color:#000000;
    color: #ffffff;
  }
  
  .brand-logo {
    position:relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    left: 10vh;
    
  }