.category-gaming {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: #f0f0f045;
  }
  
  .category-gaming-heading{
    margin-left: 50px;
  }
  
  @media only screen and (max-width: 768px){
  
    .category-gaming{
        padding-top: 200px;
    }
  
    .category-gaming-heading{
        margin-left: 90px;
    }
  }