.HomePage {
    text-align: center;
  }
  
  .ads {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
  }
  
  .img1,.img2,.img3 {
    width:65vh;
    height:30vh;
    margin:1px;
;
  }
  
  .contents {
    margin: 20px 50px;
  }
  
  .welcome {
    font-size: 14px;
    color:#947faa;
  }
  
  .cartname{
    position: relative;
    font-size:50px;
    font-weight: bold;
    color: #947faa;
    top:-7vh;
  }
  