.HomePage {
    text-align: center;
  }
  
  .ads {
    display: flex;
    margin:0vh 0vh;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
  }
  
  .img1,.img2 {
    width:101vh;
    height:50vh;
    margin:0px 1px;
;
  }
  
  /* .contents {
    margin: 20px 50px;
  }
  
  .welcome {
    font-size: 14px;
    color:#947faa;
  }
  
  .cartname{
    position: relative;
    font-size:50px;
    font-weight:bolder;
    color: #947faa;
    top:-4vh;
  }
  .contents button{
    position: relative;
    width:50vh;
    background-color: #947faa;
    color:#ffffff;
    margin-bottom: 10vh;
    left: -3vh;

  }
  .contents button:hover{
    opacity: 10px;
    background-color: #18589d;
  } */