.brand-samsung {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: #f0f0f045;
}

.brand-samsung-heading{
  margin-left: 50px;
}

@media only screen and (max-width: 768px){

  .brand-samsung{
      padding-top: 200px;
  }

  .brand-samsung-heading{
      margin-left: 90px;
  }
}