.singleProduct {
  max-width: auto;
  margin:5em 5em;
  padding: 20px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.singleProduct__top {
  display: flex;
  align-items: center;
}

.singleProduct__image {
  flex: 1;
  margin-right: 20px;
}

.singleProduct__image img {
  width: 100%;
  border-radius: 8px;
}

.singleProduct__details {
  flex: 2;
}

.singleProduct__name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.singleProduct__brand {
  font-size: 1.4rem;
  color: #555555;
  margin-bottom: 10px;
}

.singleProduct__description {
  font-size: 1.4rem;
  color: #666666;
  margin-bottom: 20px;
}

.sinPrdQuantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sinPrdQuantity button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgb(255, 255, 255);
  /* border-radius:10px; */
  padding: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sinPrdQuantity button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  border-radius: 100px;
}

.sinPrdQuantity span {
  font-size: 1.6rem;
  margin: 0 10px;
}

.singleProduct__price {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}

.singleProduct__totalPrice {
  font-size: 1.6rem;
  color: #555555;
  margin-bottom: 20px;
}

.sinPrdBtn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  border-radius: 100px;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sinPrdBtn:hover {
  background-color: #05791a;
  color: #ffffff;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .singleProduct__top {
    flex-direction: column;
  }

  .singleProduct__image {
    margin-bottom: 20px;
  }
}
