/* ViewProducts.css */

.adminProducts {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50px;
}

.productsHeading,
.totalProducts,
.disabledProducts {
  text-align: center;
  margin-bottom: 20px;
}

.proTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
}

.proTable th,
.proTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.proTable th {
  background-color: #f4f4f4;
}

.proTable td {
  background-color: #fff;
}

.productImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.actions button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:60px;
}

.editBtn {
  background-color: #4CAF50;
  color: white;
}

.disableBtn {
  background-color: #4CAF50;
  color: white;
}

.enableBtn {
  background-color: #e91e1e;
  color: white;
}

.deleteBtn {
  background-color: #e91e1e;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .adminProducts {
    padding: 15px;
  }

  .productImg {
    width: 80px;
    height: 80px;
  }

  .proTable th,
  .proTable td {
    padding: 8px;
  }

  .actions button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .adminProducts {
    padding: 10px;
  }

  .productImg {
    width: 60px;
    height: 60px;
  }

  .proTable th,
  .proTable td {
    padding: 6px;
  }

  .actions button {
    padding: 6px;
    font-size: 12px;
  }

  .proTable th,
  .proTable td {
    font-size: 12px;
  }
}
