.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10x;
  background-color: #ffffff; 
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
  height:10vh;
  margin:5px 0px;
}

.headerbrand .brand-name{
  margin: 0px 30px;
  font-weight:20px;
  letter-spacing:10px;
  text-decoration:none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 }

 a{
  text-decoration: none;
  }
  .header-links ul {
    list-style: none;
    padding:25px;
    margin: 0px 10px;
    font-family:monospace;
    position:relative;
    right:0em;
  }
  
  .header-links ul li {
    display: inline-block;
    margin: 0px 5px;
    font-size: 17px;
    cursor: pointer;
}

  
  

/* Dropdown menu */
.dropdown-menu {
  display:block; /* Initially hide the dropdown */
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1; /* Ensure dropdown appears above other content */
}

/* Show dropdown when parent li is hovered */
.header-links ul li:hover .dropdown-menu {
  display: block;
}

/* Style for dropdown links */
.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 0px;
}

.dropdown-menu ul li {
  margin-bottom: 5px;
}

.dropdown-menu ul li a {
  display: block;
  padding: 8px 15px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Change background color on hover */
.dropdown-menu ul li a:hover {
  background-color: #f5f5f5;
}

.headersearch input[type="text"] {
  padding: 8px;
  border: 1px solid #fff;
}

.headersearch button {
  padding: 8px;
  background-color: #555;
  border: none;
  color: #fff;
  cursor: pointer;
}

.header-icons{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 20px;
  right: -8vh;
}

.header-icons > * {
  padding: 5px;
  font-size:20px;
  color: #000000;
}

.header-icons > *:hover {
  color: #044081;
}
  /* .heart-icon:hover{
    color: #de0606;

  } */
.signup-button .btn {
  position: relative;
  right: 4vh;
  width:auto;
  padding: 5px;

  background-color: #fbfdfa;
  color: #044081;
  border: 1px solid  #044081;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.signup-button .btn:hover{
background-color: #044081;
color: #dce0e4;
}

 