.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10x;
    background-color: #ffffff; 
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
    height:10vh;
    margin:5px 0px;
  }
  
  
  .headerbrand .brand-name {
   margin: 0px 30px;
   font-weight:20px;
    letter-spacing:10px;
  }
  
  .headerlinks ul {
    list-style: none;
    padding:0;
    margin: 0px 5px; 
    font-family: monospace;
    
   }
  
  .headerlinks ul li {
    display:inline-block;
    margin:10px;
    
    
 }
  
  .headerlinks ul li {
    color: #373030; 
    font-size:17px;
    font-weight: 10vh;
    cursor: pointer;
  }
  
  .headerlinks ul li:hover {
    color: #044081; 
  }
  /* header-search */
  .headersearch {
    display: flex;
    align-items: center;
    position: relative;
    right: -130px;
}
  .headersearch input[type="text"] {
    padding: 6px;
    border:.5px solid;
    border-radius: 20px;
    outline: none;
    margin: 0px 5px;
  }
  
  .headersearch button {
    padding: 6px;
    background-color:#ffffff;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    width: auto;
    margin: 0px 5px;

  }
  
  .headersearch button:hover {
    background-color: white;
    color: #044081;
  }

  /* Header-icons.css */
  .header-icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px;
    right: -10vh;
  }
  
  .header-icons > * {
    padding: 5px;
    font-size:20px;
    color: #000000;
  }
  
  .header-icons > *:hover {
    color: #044081;
  }
    /* .heart-icon:hover{
      color: #de0606;

    } */
  .signup-button .btn {
    position: relative;
    right: 4vh;
    width:auto;
    padding: 5px;

    background-color: #fbfdfa;
    color: rgb(0, 0, 0);
    border: 1px solid  #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
.signup-button .btn:hover{
  background-color: #1e1c1c;
  color: #dce0e4;
}

   